{% if status is not null %}
    <ul>
        {% for s in status %}
            <li>
                {% include "@ExploringStatusBundle::single.html.twig" with {'status': s} %}
            </li>
        {% endfor %}
    </ul>
{% endif %}